<li><a href="/home">Home</a></li>
<li><a href="/cursos">Cursos</a></li>
<li><a href="/professors">Professores</a></li>
<li><a href="/eventos">Eventos</a></li>
<li><a href="/quem_somos">Sobre Nós</a></li>