<div class="row">
    <div class="col-md-6">
      <div class="probootstrap-service-2 probootstrap-animate">
        <div class="image">
          <div class="image-bg">
            <img src="<%= image_path("img_sm_1.jpg") %>" alt="Free Bootstrap Template by uicookies.com">
          </div>
        </div>
        <div class="text">
         
          <h3>Bacharel em Teologia</h3>
          <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam quos quis nisi voluptatum architecto rerum error.</p>
          <p><a href="#" class="btn btn-primary">Saber Mais</a> <span class="enrolled-count">928 estudantes</span></p>
        </div>
      </div>

      <div class="probootstrap-service-2 probootstrap-animate">
        <div class="image">
          <div class="image-bg">
            <img src="<%= image_path("img_sm_1.jpg") %>" alt="Free Bootstrap Template by uicookies.com">
          </div>
        </div>
        <div class="text">
          
          <h3>Licenciatura em Teologia</h3>
          <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam quos quis nisi voluptatum architecto rerum error.</p>
          <p><a href="#" class="btn btn-primary">Saber Mais</a> <span class="enrolled-count">202 estudantes</span></p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="probootstrap-service-2 probootstrap-animate">
        <div class="image">
          <div class="image-bg">
            <img src="<%= image_path("img_sm_2.jpg") %>" alt="Free Bootstrap Template by uicookies.com">
          </div>
        </div>
        <div class="text">
          
          <h3>Mestrado em Educação Cristã</h3>
          <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam quos quis nisi voluptatum architecto rerum error.</p>
          <p><a href="#" class="btn btn-primary">Saber Mais</a> <span class="enrolled-count">582 estudantes</span></p>
        </div>
      </div>

      <div class="probootstrap-service-2 probootstrap-animate">
        <div class="image">
          <div class="image-bg">
            <img src="<%= image_path("img_sm_4.jpg") %>" alt="Free Bootstrap Template by uicookies.com">
          </div>
        </div>
        <div class="text">          
          <h3>Mestrado  em Missiologia</h3>
          <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam quos quis nisi voluptatum architecto rerum error.</p>
          <p><a href="#" class="btn btn-primary">Saber Mais</a> <span class="enrolled-count">582 estudantes</span></p>
        </div>
      </div>

    </div>
  </div>