<section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Historia do ISTEL</h1>
            </div>
          </div>
        </div>
</section>


<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="row probootstrap-gutter0">
            <div class="col-md-4" id="probootstrap-sidebar">
            <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                <h3>Outras Páginas</h3>
                <ul class="probootstrap-side-menu">
                
                <%= render 'contactos/paginas' %>
                <li class="active"><a>Historia do ISTEL</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-7 col-md-push-1  probootstrap-animate" id="probootstrap-content">
                  <div style="padding-bottom: 0px;" class="row">
                    <p>
                    <img src="<%= image_path("slider_3.jpg") %>" alt="Free Bootstrap Template by uicookes.com" class="img-responsive">
                    </p>
                  </div>
                  <div class="row">

                  <p style="text-align: justify; margin: 0cm 0cm 0pt">O ISTEL (Instituto Superior de Teologia Evangélica no Lubango) foi fundado em 1981 como STEL (Seminário Teológico Evangélico no Lubango) pela Aliança Evangélica de Angola, impulsionado pelo Reverendo José Evaristo Abias entre outros impulsionadores da sua fundação. As aulas tiveram início numa das salas da Igreja Evangélica do Lubango - UIEA (Lage). A sua designação mudou em 1999 por razoes de reconhecimento ao nível da ACTEA (Agencia de acreditação das escolas teológicas em África).</p>

                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">Até a data o ISTEL teve os seguintes Directores: Pr. Eliseu Simeão de 1981 a 1985; Pr. Ambrósio Fabiano de 1987 a 1992; Professora Sheila Foster Fabiano de 1992 a 1995; Pr. Afonsil Rondon Flores de 1995 a 1997; Pr. Paul Kleiner de 1997 a 2001; Pr. José Bernardo Luacute de 2001 a 2009 e Professor Avelino Rafael que tomou posse em 2010. Durante o seu percurso a escola teve uma paragem de 1985 a 1987 por questões políticas e por causa do recrudescimento da guerra. Em 1987 reiniciaram as actividades porque nesse mesmo ano o Governo de Angola reconheceu juridicamente as Igrejas e com isso a liberdade ao ISTEL como instituição de formação para reabrir as portas.</p>
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">Desde da sua fundação o ISTEL sempre teve um corpo docente diversificado. Professores vindo de vários países do mundo e de várias igrejas: Brasil, Suíça, Finlândia, Estados Unidos de América, Canada, Moçambique, Alemanha, África do Sul e Portugal. Ate 2005 a Escola tinha cerca de 70 % de professores expatriados. Hoje o quadro mudou consideravelmente: desde 2006 que o ISTEL tem cerca de 90 % de professores Angolanos fruto de um processo bem sucedido de formação e substituição gradual de professores expatriados.</p> 
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">De 1981 a 1993, o ISTEL tinha somente estudantes vindo das Igrejas de AEA, mas a partir de 1994 observou-se que os estudantes começaram a vir de Igrejas mais diversificadas ainda.</p>  
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">Até 2013 o ISTEL formou 129 estudantes, entre os quais 72 Bacharéis e 57 licenciados. Entre os 129 formados 16 são do sexo feminino. Se forem incluídos os formados do ano lectivo 2014 - 2015 a estatística pode atingir 150 estudantes formados. O Numero de estudantes subiu consideravelmente desde 2009 com a abertura do Curso Modular em 2007 em Luanda. Hoje o ISTEL conta com 3 centros do curso modular (Luanda, Lubango e Huambo).</p>
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">O ISTEL adquiriu uma parcela de terra em 1993 com uma superfície equivalente a 20 000 m2 e no mesmo ano começou a construção das infra estruturas. Hoje a escola tem 4 edifícios dos quais dois para habitação de Professores e dois para o serviço académico e cerca de 8 residências para estudantes e pessoal de apoio administrativo. Encontra-se em construção também cerca de 5 salas de aulas e 2 laboratórios no âmbito da parceria com a SOVEC.</p>  
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">O ISTEL tem parcerias com instituições nacionais e internacionais. As parcerias são sobretudo no âmbito de formação, subsídios financeiros, construção de infra estruturas, compra de material didáctico e apoio metodológico. Os parceiros nacionais são Igrejas, instituições de formação sobretudo ao nível de formação teológica no âmbito da AETA - Associação de Escolas Teológicas de Angola e com o Governo Provincial da Huila: Ministério de Educação Ministério da Cultura. Saliente-se também a parceria que assinou com a SOVEC (ISP-VIDA) onde determinadas despesas são pagas em conjunto, esta em curso a construção de 5 salas e laboratórios de saúde e também recebe algum apoio financeiro.</p>   
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">As parcerias Internacionais são com: Tearfund UK – Projecto HIV Sida; GZB, IBP, URCO, HFBI e OCI participam em subsidiação de custos de formação com os estudantes; SIM – Apoio com pessoal e apoio financeiro e Cornerstorne Foundation no âmbito de ampliação de estruturas e biblioteca do ISTEL.</p>
                    
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt">O ISTEL enfrenta desafios sobretudo na área de Finanças: como manter-se auto-sustentável, como aumentar o número de docentes para fazer face o número crescente de estudantes, como maximizar o uso de sua capacidade instalada atendendo que o número de estudantes não corresponde a demanda global. O número de estudantes actual é em função daqueles que conseguem pagar o nível de propinas exigido para manter a instituição em funcionamento e não aqueles que de facto desejaria ingressar na formação teológica.</p> 
                        
                    <p style="text-align: justify; margin: 0.5cm 0cm 0pt"> Lubango, Janeiro de 2016</p>
                  </div>
            
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

