<section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>O Que é o ISTEL</h1>
            </div>
          </div>
        </div>
</section>


<section class="probootstrap-section probootstrap-section-sm">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="row probootstrap-gutter0">
            <div class="col-md-4" id="probootstrap-sidebar">
            <div class="probootstrap-sidebar-inner probootstrap-overlap probootstrap-animate">
                <h3>Outras Páginas</h3>
                <ul class="probootstrap-side-menu">
                
                <%= render 'contactos/paginas' %>
                <li class="active"><a>O Que é o ISTEL</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-7 col-md-push-1  probootstrap-animate" id="probootstrap-content">
                  <div style="padding-bottom: 0px;" class="row">
                    <p>
                    <img src="<%= image_path("slider_3.jpg") %>" alt="Free Bootstrap Template by uicookes.com" class="img-responsive">
                    </p>
                  </div>
                  <div class="row">
                  <h3>O que o ISTEL faz?</h3>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">
                  A principal tarefa do ISTEL é oferecer formação teológica visando formar líderes para a igreja, quer sejam leigos/profissionais ou ordenados. Esta formação é oferecida nos níveis básico, isto é, o CBI – Curso Bíblico Integral e ETE – Educação Teológica por Extensão e Superior (Bacharelato e Licenciatura e Mestrado). Para além da formação formal e estruturada, o ISTEL oferece também formação contínua através de fóruns, conferências e jornadas teológicas. O ISTEL presta serviço de aluguer do seu salão para eventos, casas para os estudantes, salas de aulas e espaço para parqueamento.
                      </p>
                      <p style="text-align: justify; margin: 1cm 0cm 0pt">A missão do ISTEL é o ensino teológico. O ISTEL aceita estudantes de qualquer denominação desde que apresentem uma carta de recomendação da igreja local ou da denominação, dependentemente do protocolo de envio de estudantes de cada denominação. Estudantes que venham de denominações não afiliadas a AEA devem assinar a declaração de fé da AEA como pressuposto básico para o ensino e aprendizagem. O ISTEL está muito interessado em manter a igreja como parte do processo de formação durante o tempo em que o estudante passa pelo ISTEL. Está também interessado em seguir os formados e em ver que eles sejam úteis às suas igrejas. Este factor é muito importante para que estudantes venham ao ISTEL e que o ISTEL continue a sua missão. A sustentabilidade do ISTEL depende da quantidade e frequência de novos ingressos de estudantes.             
                  </p>
                  
                  <h3>Com quem trabalha?</h3>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">
                      O ISTEL trabalha fundamentalmente com parceiros nacionais e internacionais. A nível nacional temos:</p>
                  </p>
                  <ul>
                  <li>A Igreja</li>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">As igrejas são as parceiras nacionais predilectas, alias, sem elas, o ISTEL não tem razão de ser pois que são elas que precisam dos serviços do ISTEL. São elas que recrutam e enviam estudantes. </p>
                  
                  <li>A SOVEC</li>
      
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">É uma parceira estratégica/consórcio. Partilha estruturas e despesas de funcionamento e presta apoio financeiro em ajudas pontuais.</p>
                  
                  </ul>
                  <p>A nível internacional temos:</p>
                  <ul>
      
                  <li>A OCI</li>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">A OCI é um dos parceiros e actua a nível de formação e capacitação em matérias de Educação Teológica e Gestão Institucional.</p>
                  <li>As organizações GZB, SOLE,FELM,OCE,URCO actuam a nível de subvenção dos custos de formação.</li>
                  <li>A Tearfund</li>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">Tearfund actua a nível do projecto Promover Esperança, um projecto de HIV/SIDA.</p>
                  <li>A Cornerstone Foundation</li>
                  <p>Cornerstone Foundation actua a nível de desenvolvimento de estrutura.</p>           
                  </ul>
      
                  <h3>Como trabalha?</h3>
                  <p style="text-align: justify; margin: 0cm 0cm 0pt">O ISTEL é dirigido por um Conselho de Direcção pelo Director, pelo Administrador e Coordenadores dos Cursos. Faz ainda parte do Conselho de Direcção um conselheiro. Todos os professores fazem parte do Conselho de Pedagógico e tomam decisões ligadas ao desenvolvimento dos cursos e a gestão diária dos mesmos. No nível de governação actua o Conselho Geral representando o Comité Executivo da AEA.</p>
                  <p style="text-align: justify; margin: 1cm 0cm 0pt">As actividades do ISTEL são fundamentalmente desenvolvidas na cidade do Lubango onde se encontra a sua sede. Todavia, desenvolvem-se também actividades no Huambo e Luanda ao nível do Curso de Teologia Modular. Há também turmas da Educação Teológicas por Extensão nas províncias da Huíla, Namibe e Luanda.</p>
      
                </div>
            
            </div>
        </div>
        </div>
    </div>
    </div>
</section>








