      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Sobre o ISTEL</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  <div class="text-uppercase probootstrap-uppercase">História</div>
                  <h3>Saiba Como Começamos</h3>
                  <p>O ISTEL (Instituto Superior de Teologia Evangélica no Lubango) foi fundado em 1981 como STEL (Seminário Teológico Evangélico no Lubango) pela Aliança Evangélica de Angola, impulsionado pelo Reverendo José Evaristo Abias entre outros impulsionadores da sua fundação...</p>
                  <p><a href="/historia" class="btn btn-primary">Ler mais</a></p>
                </div>
                <div class="probootstrap-image probootstrap-animate" style="background-image: url(<%= image_path("slider_4.jpg") %>)">
                  <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      
      
      <section class="probootstrap-section">
        <div class="container">
          
          <div class="col-md-6">
            <p>
              <img src="<%= image_path("slider_1.jpg") %>" alt="Free Bootstrap Template by uicookes.com" class="img-responsive">
            </p>
          </div>
          <div class="col-md-6 col-md-push-1">
            <h2>A Filosofia Educacional, va Visão, e o Caracter do ISTEL</h2>
            <h3>A base da filosofia educacional do ISTEL</h3>
            <p style="text-align: justify; margin: 0cm 0cm 0pt">Sendo a Bíblia a regra suficiente e a autoridade final para a fé e a prática, todos os programas educacionais do ISTEL, actividades e cadeiras, serão norteados pela perspectiva bíblica.</p>
            <h3>A Visão</h3>
            <p style="text-align: justify; margin: 0cm 0cm 0pt">A visão do ISTEL é que a igreja tenha líderes formados, servos e discípulos de Jesus que vivem e ensinam a sã doutrina, promovem a unidade na diversidade e provocam transformação integral na comunidade.</p>
            <h3>O Carácter da Educação no ISTEL</h3>
            <p style="text-align: justify; margin: 0cm 0cm 0pt">O ISTEL visa uma educação integral, isto é, ao nível do saber (conhecimentos), do ser (carácter) e do fazer (capacidades). Estes aspectos estão interligados, por isso, o ISTEL se esforça para a excelência académica, a maturidade espiritual e a habilidade ministerial, com vista ao desenvolvimento equilibrado nas áreas acima mencionadas.
              A formação no ISTEL é feita na e para a comunidade: Primeiro na comunidade escolar, segundo em estreita colaboração com a igreja local do estudante, bem com a comunidade em geral. Fora da comunidade não se adquire conhecimentos realistas, não se forma um carácter equilibrado e não se alcança capacidades que produzam fruto.
              Se o candidato para o Curso de Teologia for casado, recomenda-se fortemente que seu cônjuge frequente também um curso do ISTEL (Discipulado ou CBB).
              </p>  
              
              <h3>A Língua da Educação no ISTEL</h3>

              <p style="text-align: justify; margin: 0cm 0cm 0pt"> A língua de educação no ISTEL é o Português. Todos os estudantes devem ter os conhecimentos e habilidades necessários de língua portuguesa como pré-requisito fundamental para ingressar no curso. Os candidatos aos Cursos de Discipulado e Teologia serão submetidos a um exame de admissão para verificar as suas habilidades e capacidades de comunicação escrita e oral.</p>
              
              <h3>O Carácter Interdenominacional do ISTEL</h3>

              <p style="text-align: justify; margin: 0cm 0cm 0pt"> 
               O corpo docente e discente deve aceitar o carácter interdenominacional do ISTEL, com as seguintes implicações:
                  <ul style="text-align: justify; margin: 0cm 0cm 0pt">
                    <li>Todo o pessoal do ISTEL deve respeitar as diversas formas de cultuar e as ênfases doutrinárias das igrejas membros da Aliança Evangélica de Angola.</li>
                      <li>	O pessoal docente deve se mostrar sensível quando exprime o seu ponto de vista em assuntos onde os evangélicos conservadores têm opiniões divergentes, e deve assegurar que aqueles com outros pontos de vista não sejam penalizados.</li>
                      <li>O docente que deliberadamente violar este carácter interdenominacional perde o direito de continuar a exercer docência no ISTEL.</li>
                      <li>Todo o pessoal docente e discente do ISTEL é encorajado a manter o seu vínculo denominacional inalterado durante o tempo de sua vinculação à escola.</li>              
                  </ul>
                
              </p>
              

                
                
          </div>
          

        </div>
      </section>


      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
              <h2>Por que estudar no ISTEL</h2>
              <p class="lead">Alguns motivos para se juntar a nós e aprender da palavra de Deus</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Temos a Bíblia como Suficiente</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>  
              </div>
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Interdenominacional</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>
              </div>
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Evangélica</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Professores Preparados</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>  
              </div>
              
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Asperiores Maxime Modi</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>
              </div>
              
              <div class="service left-icon probootstrap-animate">
                <div class="icon"><i class="icon-checkmark"></i></div>
                <div class="text">
                  <h3>Libero Maxime Molestiae</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                </div>
              </div>

            </div>
          </div>
          <!-- END row -->
        </div>
      </section>